/* This file intentionally left blank.
 * Put your custom CSS into your (not the theme's) assets/sass/custom.scss
 */

 // Palette.
 $palette: (
    bg: #fff,
    bg-bold: #f7f7f7,
    fg: #474747,
    fg-bold: #4c4c4c,
    fg-light: #999,
    border: #e0e0e0,

    accent: (
        bg: #043006,
        fg: #fff
    ),
    obscure: (
        bg: #333,
        bg-light: #555,
        bg-bold: #1f1f1f,
        fg: #c0c0c0
    )
);

#banner {
    position: relative; /* This is needed to position the pseudo-element absolutely within the banner */
    background-image: url('/images/hoa.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 45vh; /* Adjust this to set the height of the banner */
    width: 100%;
  }
  
//   #banner::before {
//     content: ""; /* This is necessary for the pseudo-element to be generated */
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: rgba(15, 15, 15, 0.5); /* Gray color with 50% opacity */
//     /* Adjust the alpha value (0.5 in this case) to control the opacity of the overlay */
//   }

.responsive-thumbnail {
    display: inline-block;
    width: 100%;
    max-width: 350px; /* Thumbnail size */
    border: 1px solid #dee2e6; /* Bootstrap-like border color */
    border-radius: 0.25rem; /* Bootstrap-like border radius */
    overflow: hidden; /* Ensures the image does not overflow the border */
}

.responsive-thumbnail img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove bottom space under image */
}

.collapsible summary {
    font-size: 1.5em; /* Adjust the font size to match <h1> */
    font-weight: bold; /* H1 is usually bold */
    cursor: pointer; /* To indicate it's clickable */
    /* Add any other styles to match your site's <h1> tags */
  }
  
  .collapsible details {
    margin-bottom: 1em; /* Space below the collapsible */
  }
  
  .collapsible-content {
    padding: 0.5em 0; /* Padding inside the content area */
    
  }
  
  .collapsible:not(:first-child) {
    padding-top: 20px; /* Adjust the value as needed */
  }
  
  .collapsible-content {
    padding-top: 20px; /* Adjust this value to your preference */
  }
  